/*-----------------------------------------*\
  #TYPOGRAPHY ELEMENT
\*-----------------------------------------*/

a {
  font-weight: var(--fw-light);
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: var(--fw-light);
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

p {
  font-weight: var(--fw-light);
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

h1 {
  font-weight: var(--fw-extrabold);
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.2px;
}

h2 {
  font-weight: var(--fw-light);
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

h3 {
  font-weight: var(--fw-bold);
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

h4 {
  font-weight: var(--fw-bold);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

h5 {
  font-weight: var(--fw-bold);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

/*-----------------------------------------*\
  #TEXT CLASSES
\*-----------------------------------------*/

.text {
  font-family: var(--primary-font);
}

.text--center {
  width: 100%;
  text-align: center;
}

.text--light {
  color: var(--light-color);
}

.text--dark {
  color: var(--dark-color);
}

.text--primary {
  color: var(--primary-color);
}

.text--secondary {
  color: var(--secondary-color);
}

.text--gray {
  color: var(--gray-color);
}

.text--black {
  color: var(--black-color);
}

.text--xs {
  font-weight: var(--fw-light);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.text--small {
  font-weight: var(--fw-regular);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.text--big {
  font-weight: var(--fw-bold);
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

/*-----------------------------------------*\
  #SET FONT FAMILY
\*-----------------------------------------*/

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("../../assets/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("../../assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("../../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("../../assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("../../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}
