/*------------------------------------*\
  #FEATURE-CARD
\*------------------------------------*/

.feature-card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 20px;

  max-width: 255px;
  min-width: 200px;

  transition: transform 0.2s ease;
}

.feature-card:hover {
  transform: scale(1.1);
}

.feature-card__title {
  display: flex;
  align-content: flex-start;
  align-items: center;
  gap: 10px;
}

.feature-card__circle {
  width: 43px;
  height: 43.5px;
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 50%;
}
