/*------------------------------------*\
  #PARTNER CARD
\*------------------------------------*/

.partner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 25px;

  padding: 10px;
  box-sizing: border-box;

  width: 238px;

  transition: transform 0.2s ease;
}

.partner-card:hover {
  transform: scale(1.1);
}

.partner-card > img {
  width: 122px;
  height: 123px;
}
