/*------------------------------------*\
  #CSS VARIABLES
\*------------------------------------*/

:root {
  --primary-font: "Roboto";
  --fw-extrabold: 900;
  --fw-bold: 700;
  --fw-regular: 500;
  --fw-light: 400;

  --primary-color: #ef2779;
  --secondary-color: #38a3f1;
  --light-color: #ffffff;
  --dark-color: #252b42;
  --gray-color: #374754;
  --bg-light-color: #ffffff;
  --bg-dark-color: #252b42;
  --bg-gradient-color: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
}
