<address class="contact-info">
  <div class="contact-info__row">
    <img src="assets/icons/contact/icon_address.svg" alt="location icon" />
    <p class="text text--xxs {{ color }}">6386 Spring St undefined Anchorage, Georgia 12473 United States</p>
  </div>
  <div class="contact-info__row">
    <img src="assets/icons/contact/icon_phone.svg" alt="phone number icon" />
    <a href="tel:843555-0130" class="text text--xxs {{ color }}">(843) 555-0130</a>
  </div>
  <div class="contact-info__row">
    <img src="assets/icons/contact/icon_mail.svg" alt="email icon" />
    <a href="mailto:willie.jennings@example.com" class="text text--xxs {{ color }}">willie.jennings@example.com</a>
  </div>
</address>
