<div class="contact-info">
  <div class="contact-info__row">
    <img src="assets/icons/contact/icon_address.svg" alt="location icon" />
    <h5 class="text text--{{color}}">6386 Spring St undefined Anchorage, Georgia 12473 United States</h5>
  </div>
  <div class="contact-info__row">
    <img src="assets/icons/contact/icon_phone.svg" alt="phone number icon" />
    <h5 class="text text--{{color}}">(843) 555-0130</h5>
  </div>
  <div class="contact-info__row">
    <img src="assets/icons/contact/icon_mail.svg" alt="email icon" />
    <h5 class="text text--{{color}}">willie.jennings@example.com</h5>
  </div>
</div>
