<nav class="navbar">
  <img src="assets/images/header/menu_icon.svg" alt="menu" class="navbar__icon" />
  <ul class="navbar__menu">
    <li class="navbar__menu__item">
      <a class="text text--light" href="/">Home</a>
    </li>
    <li class="navbar__menu__item">
      <a class="text text--light" href="#"> Product </a>
    </li>
    <li class="navbar__menu__item">
      <a class="text text--light" href="#"> Pricing </a>
    </li>
    <li class="navbar__menu__item">
      <a class="text text--light" href="#"> About </a>
    </li>
    <li class="navbar__menu__item">
      <a class="text text--light" href="#"> Contact </a>
    </li>
  </ul>
</nav>
