/*------------------------------------*\
  #FEATURE
\*------------------------------------*/
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.feature__title {
  margin-top: 106px;
  width: 80%;
  max-width: 318px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.feature__list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  gap: 75px;

  width: 100%;

  padding: 18px 0px;
  margin-bottom: 80px;
}

@media (min-width: 992px) {
  .feature__list {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
  }
}
