/*------------------------------------*\
  #BACKGROUND
\*------------------------------------*/

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;

  overflow: hidden;
}

.background__image {
  min-height: 900px;
  max-height: 950px;
  width: 100%;
}
