/*------------------------------------*\
  #GRID SYSTEM
\*------------------------------------*/

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  justify-content: center;

  width: 100%;
}

.col-1 {
  grid-column: auto / span 1;
}

.col-2 {
  grid-column: auto / span 2;
}

.col-3 {
  grid-column: auto / span 3;
}

.col-4 {
  grid-column: auto / span 4;
}

.col-6 {
  grid-column: auto / span 6;
}

.col-8 {
  grid-column: auto / span 8;
}

.col-10 {
  grid-column: auto / span 10;
}
.col-12 {
  grid-column: auto / span 12;
}

@media (min-width: 576px) {
  .container {
    width: var(--container-sm);
  }

  .col-sm-1 {
    grid-column: auto / span 1;
  }

  .col-sm-2 {
    grid-column: auto / span 2;
  }

  .col-sm-3 {
    grid-column: auto / span 3;
  }

  .col-sm-4 {
    grid-column: auto / span 4;
  }

  .col-sm-6 {
    grid-column: auto / span 6;
  }

  .col-sm-8 {
    grid-column: auto / span 8;
  }

  .col-sm-10 {
    grid-column: auto / span 10;
  }

  .col-sm-12 {
    grid-column: auto / span 12;
  }
}

@media (min-width: 768px) {
  .container {
    width: var(--container-md);
  }
}

@media (min-width: 992px) {
  .container--small {
    width: var(--container-small-lg);
  }

  .container--big {
    width: var(--container-big-lg);
  }

  .col-lg-1 {
    grid-column: auto / span 1;
  }

  .col-lg-2 {
    grid-column: auto / span 2;
  }

  .col-lg-3 {
    grid-column: auto / span 3;
  }

  .col-lg-4 {
    grid-column: auto / span 4;
  }

  .col-lg-6 {
    grid-column: auto / span 6;
  }

  .col-lg-8 {
    grid-column: auto / span 8;
  }

  .col-lg-10 {
    grid-column: auto / span 10;
  }

  .col-lg-12 {
    grid-column: auto / span 12;
  }
}
